In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We get the restraint files for dihedrals and distances from nmr2gmxpy for the structure with PDB ID 1OSL, chain B.

In [8]:
dihedral_rest = \
'/home/malinlu/elflab/Projects/MD_lacI/EXP-20-BV4001/Transcriptionfactor_unbinding/nmr2gmxpy_1OSL/1OSL_dihedral.itp'
distance_rest = \
'/home/malinlu/elflab/Projects/MD_lacI/EXP-20-BV4001/Transcriptionfactor_unbinding/nmr2gmxpy_1OSL/1OSL_distance.itp'

In [9]:
"Read in the data from file"
def itp_reader(file_dis,file_dh):
    dh_itp=pd.read_csv(file_dh,sep='\s+',skiprows=2,names=['ai','aj','ak','al','type','phi','dphi','fac'])
    dist_itp=pd.read_csv(file_dis,sep='\s+',skiprows=2,names=['ai','aj','type','index','type\' '\
                                                              ,'low','up1','up2','frac'])
    return(dist_itp,dh_itp)

In [10]:
def write_rest_Dist(line):
    return(\
    '{dl[0]:6.0f} {dl[1]:7.0f} {dl[2]:7.0f} {dl[3]:7.0f} {dl[4]:7.0f} {dl[5]:7.2} {dl[6]:7.2} {dl[7]:7.2} {dl[8]:7.1f}\n'\
           .format(dl=line))

In [11]:
#def read_and_check_itp_restraint(file):
#    df_dist = pd.read_csv(file,sep='\s+',skiprows=2,\
#                          names=['ai','aj','type','index','type\' ','low','up1','up2','frac'])
#    df_dist_intra_contacts=df_dist[df_dist['ai']==df_dist['aj']]
#    print(df_dist_intra_contacts)
#    return(df_dist)

In [12]:
#read_and_check_itp_restraint(distance_rest)

In [13]:
df_dist, df_dh=itp_reader(distance_rest, dihedral_rest)

In [14]:
df_dh

      ai    aj    ak    al  type   phi  dphi     fac
0   1043  1045  1047  1062     1 -48.0  10.0  1000.0
1   1045  1047  1062  1064     1 -18.0  10.0  1000.0
2   1062  1064  1066  1083     1 -57.0   5.0  1000.0
3   1064  1066  1083  1085     1 -35.0   5.0  1000.0
4   1083  1085  1087  1095     1 -60.0   5.0  1000.0
..   ...   ...   ...   ...   ...   ...   ...     ...
61  1609  1611  1617  1619     1 -44.0   5.0  1000.0
62  1617  1619  1621  1632     1 -64.0   5.0  1000.0
63  1619  1621  1632  1634     1 -38.0   6.0  1000.0
64  1632  1634  1636  1651     1 -92.0  10.0  1000.0
65  1634  1636  1651  1653     1  16.0  15.0  1000.0

[66 rows x 8 columns]

In [15]:
def remove_Cys_records(distances, dihedrals, cys_id_s, cys_id_e):
    #the cysten records a from atom id 1759-1768
    df_dist, df_dh=itp_reader(distances, dihedrals)

    df_dis_drop_cys = df_dist[~((df_dist["ai"].isin( np.arange(cys_id_s, cys_id_e+1) ) ) | \
                            (df_dist["aj"].isin( np.arange(cys_id_s, cys_id_e+1) ))) ]

    df_dh_drop_cys = df_dh[~((df_dh["ai"].isin( np.arange(cys_id_s, cys_id_e+1) ) ) |\
                            (df_dh["aj"].isin( np.arange(cys_id_s, cys_id_e+1) )) |\
                            (df_dh["ak"].isin( np.arange(cys_id_s, cys_id_e+1) ))|\
                            (df_dh["al"].isin( np.arange(cys_id_s, cys_id_e+1) )))  ]
    
    df_dis_drop_cys.reset_index(inplace = True)
    df_dh_drop_cys.reset_index(inplace = True)
    
        
    return(df_dis_drop_cys, df_dh_drop_cys)

In [16]:
di, de = remove_Cys_records(distance_rest, dihedral_rest, 1759, 1768)

In [17]:
di

      level_0    ai    aj  type  index  type'    low   up1   up2  frac
0           0  1012  1009     1      1       1  0.18  0.36  0.46   1.0
1           1  1012  1010     1      1       1  0.18  0.36  0.46   1.0
2           2  1012  1003     1      2       1  0.18  0.55  0.65   1.0
3           3  1012  1004     1      2       1  0.18  0.55  0.65   1.0
4           4  1012  1006     1      3       1  0.18  0.36  0.46   1.0
...       ...   ...   ...   ...    ...     ...   ...   ...   ...   ...
2269     2286  1833  1839     1    803       1  0.18  0.50  0.60   1.0
2270     2287  1835  1843     1    804       1  0.18  0.36  0.46   1.0
2271     2288  1837  1843     1    805       1  0.18  0.50  0.60   1.0
2272     2289  1838  1843     1    805       1  0.18  0.50  0.60   1.0
2273     2290  1839  1843     1    805       1  0.18  0.50  0.60   1.0

[2274 rows x 10 columns]

In [18]:
def adjust_after_cys_his(dis, dh):
    # shift all residues by 7 atoms more in Ala compared to Cys
        
    after_cys_ai = dis[(dis["ai"]>1759)].index
    after_cys_aj = dis[ (dis["aj"]>1759)].index
    ai_n = np.array(dis.loc[after_cys_ai, "ai"]) + 6
    aj_n = np.array(dis.loc[after_cys_aj, "aj"]) + 6

    dis2 = dis.copy()
    dis2.loc[after_cys_ai, "ai"] = ai_n
    dis2.loc[after_cys_aj, "aj"] = aj_n

    dh2 = dh.copy()
    for a in ["ai", "aj", "ak", "al"]:
        after_cys_a = dh[(dh[a]>1759)].index 
        a_n = dh.loc[after_cys_a, a] + 6
        dh2.loc[after_cys_a, a] = a_n
        
    after_his_ai = dis2[(dis["ai"]>1398)].index
    after_his_aj = dis2[ (dis["aj"]>1398)].index
    ai_n = np.array(dis2.loc[after_his_ai, "ai"]) + 1
    aj_n = np.array(dis2.loc[after_his_aj, "aj"]) + 1

    dis3 = dis2.copy()
    dis3.loc[after_his_ai, "ai"] = ai_n
    dis3.loc[after_his_aj, "aj"] = aj_n

    dh3 = dh2.copy()
    for a in ["ai", "aj", "ak", "al"]:
        after_his_a = dh2[(dh2[a]>1398)].index 
        a_n = dh2.loc[after_his_a, a] + 1
        dh3.loc[after_his_a, a] = a_n
        
    return(dis3.drop(columns="level_0"), dh3.drop(columns="index"))

In [19]:
a_di, a_de = adjust_after_cys_his(di, de)

In [20]:
a_di

        ai    aj  type  index  type'    low   up1   up2  frac
0     1012  1009     1      1       1  0.18  0.36  0.46   1.0
1     1012  1010     1      1       1  0.18  0.36  0.46   1.0
2     1012  1003     1      2       1  0.18  0.55  0.65   1.0
3     1012  1004     1      2       1  0.18  0.55  0.65   1.0
4     1012  1006     1      3       1  0.18  0.36  0.46   1.0
...    ...   ...   ...    ...     ...   ...   ...   ...   ...
2269  1840  1846     1    803       1  0.18  0.50  0.60   1.0
2270  1842  1850     1    804       1  0.18  0.36  0.46   1.0
2271  1844  1850     1    805       1  0.18  0.50  0.60   1.0
2272  1845  1850     1    805       1  0.18  0.50  0.60   1.0
2273  1846  1850     1    805       1  0.18  0.50  0.60   1.0

[2274 rows x 9 columns]

In [21]:
len(a_de.columns)

8

In [22]:
def renumber_restraints(orig_restreaint,shiftA=976,shiftB=4109):
    """Function to shift the residue numbering to match, like in this case, a crystal structure."""
    
    chainA = orig_restreaint.copy()
    #Just change the numbering to match 1efa
    chainA['aj'] = chainA['aj']-shiftA
    chainA['ai'] = chainA['ai']-shiftA
    if len(chainA.columns)==8:
        chainA['ak'] = chainA['ak']-shiftA
        chainA['al'] = chainA['al']-shiftA
    
    chainB = orig_restreaint.copy()
    
    #Make sure the index in chain B is correct for distances
    if len(chainA.columns)==9:
        last_index_A=chainA.iloc[-1]['index']
        chainB['index'] = chainA['index']+last_index_A
    chainB['aj'] = chainB['aj']+shiftB
    chainB['ai'] = chainB['ai']+shiftB
    if len(chainA.columns)==8:
        chainB['ak'] = chainB['ak']+shiftB
        chainB['al'] = chainB['al']+shiftB
    chainAB=chainA.append(chainB)
    #convert_dict = {'index': int}
    #chainAB=chainAB.astype(convert_dict)
    chainAB.reset_index(inplace=True)
    
    return(chainAB)

In [30]:
DI = renumber_restraints(a_di).drop(columns="level_0")
DI

        ai    aj  type   index  type'    low   up1   up2  frac
0       36    33     1     1.0       1  0.18  0.36  0.46   1.0
1       36    34     1     1.0       1  0.18  0.36  0.46   1.0
2       36    27     1     2.0       1  0.18  0.55  0.65   1.0
3       36    28     1     2.0       1  0.18  0.55  0.65   1.0
4       36    30     1     3.0       1  0.18  0.36  0.46   1.0
...    ...   ...   ...     ...     ...   ...   ...   ...   ...
4543  5949  5955     1  1608.0       1  0.18  0.50  0.60   1.0
4544  5951  5959     1  1609.0       1  0.18  0.36  0.46   1.0
4545  5953  5959     1  1610.0       1  0.18  0.50  0.60   1.0
4546  5954  5959     1  1610.0       1  0.18  0.50  0.60   1.0
4547  5955  5959     1  1610.0       1  0.18  0.50  0.60   1.0

[4548 rows x 9 columns]

In [46]:
def reindex_NOEs(di_in):
    # After removing the restraint between atoms within residue 52, the indexes need to be renumbered
    # you don't need to do anything if diff is 0 or 1
    # if it is not, the indexes from there on need to be reduces by the diff value minus 1
    NOE_ind = di_in["index"]
    new_indexes = np.r_[0, np.float16(np.diff(NOE_ind)>0)].cumsum().astype(int)
    di_in.drop(columns="index")
    di_in["index"] = new_indexes
    return(di_in)

In [48]:
DI_ri = reindex_NOEs(DI)

In [49]:
def write_rest_Dist(line):
    return(\
    '{dl[0]:6.0f} {dl[1]:7.0f} {dl[2]:7.0f} {dl[3]:7.0f} {dl[4]:7.0f} {dl[5]:7.2} {dl[6]:7.2} {dl[7]:7.2} {dl[8]:7.1f}\n'\
  .format(dl=line))

In [50]:
f2 = open(\
"/home/malinlu/elflab/Projects/MD_lacI/EXP-20-BV4001/Transcriptionfactor_unbinding/Edit_NMR_Restraints/output/DI.itp"\
          , 'w')
for i in DI.index:
    f2.write(write_rest_Dist(DI_ri.loc[i]))
f2.close()

In [26]:
DH = renumber_restraints(a_de).drop(columns="index")

In [27]:
DH

       ai    aj    ak    al  type   phi  dphi     fac
0      67    69    71    86     1 -48.0  10.0  1000.0
1      69    71    86    88     1 -18.0  10.0  1000.0
2      86    88    90   107     1 -57.0   5.0  1000.0
3      88    90   107   109     1 -35.0   5.0  1000.0
4     107   109   111   119     1 -60.0   5.0  1000.0
..    ...   ...   ...   ...   ...   ...   ...     ...
127  5719  5721  5727  5729     1 -44.0   5.0  1000.0
128  5727  5729  5731  5742     1 -64.0   5.0  1000.0
129  5729  5731  5742  5744     1 -38.0   6.0  1000.0
130  5742  5744  5746  5761     1 -92.0  10.0  1000.0
131  5744  5746  5761  5763     1  16.0  15.0  1000.0

[132 rows x 8 columns]

In [28]:
def write_rest_DH(line):
    return(\
    '{dl[0]:6.0f}{dl[1]:8.0f}{dl[2]:8.0f}{dl[3]:8.0f}{dl[4]:8.0f}{dl[5]:8.1f}{dl[6]:8.1f}{dl[7]:8.1f}\n'\
           .format(dl=line))

In [29]:
#f2 = open(\
#"/home/malinlu/elflab/Projects/MD_lacI/EXP-20-BV4001/Transcriptionfactor_unbinding/Edit_NMR_Restraints/output/DH.itp"\
#          , 'w')
#for i in DH.index:
#    f2.write(write_rest_DH(DH.loc[i]))
#f2.close()